<ion-header>
  <ion-toolbar>
    <ion-title>Ion TextArea</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="regresar" routerLink="/menu"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
  <ion-label>Comments</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

<ion-item>
  <ion-label stacked>Message</ion-label>
  <ion-textarea [(ngModel)]="msg"></ion-textarea>
</ion-item>

<ion-item>
  <ion-label floating>Description</ion-label>
  <ion-textarea></ion-textarea>
</ion-item>

</ion-content>
