<ion-header>
  <ion-toolbar>
    <ion-title>Ion Progress Bar</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="regresar" routerLink="/menu"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<br>
  <!-- Default Progressbar -->
<ion-progress-bar></ion-progress-bar>
<br>
<!-- Default Progressbar with 50 percent -->
<ion-progress-bar value="0.5"></ion-progress-bar>
<br>
<!-- Colorize Progressbar -->
<ion-progress-bar color="primary" value="0.5"></ion-progress-bar>
<ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
<br>
<!-- Other types -->
<ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
<ion-progress-bar type="indeterminate"></ion-progress-bar>
<ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

</ion-content>
