<ion-buttons slot="start">
  <ion-button (click)="toggleMenu()">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-menu side="start"
          menuId="first"
          contentId="principal">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menu</ion-title>

      <ion-buttons slot="start">
        <ion-button (click)="toggleMenu()">
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/part1">Ion Action Sheet</ion-item>
      <ion-item routerLink="/part2">Ion Alert</ion-item>
      <ion-item routerLink="/part3">Ion Button</ion-item>
      <ion-item routerLink="/part4">Ion Card</ion-item>
      <ion-item routerLink="/part5">Ion Checkbox</ion-item>
      <ion-item routerLink="/part6">Ion Datetime</ion-item>
      <ion-item routerLink="/part7">Ion Fab</ion-item>
      <ion-item routerLink="/part8">Ion Grid, Col y Row</ion-item>
      <!--
      <ion-item routerLink="/part9">Ion Col</ion-item>
      <ion-item routerLink="/part10">Ion Row</ion-item>
                                                        -->
      <ion-item routerLink="/part11">Ion Infinite Scroll</ion-item>
      <ion-item routerLink="/part12">Ion Input</ion-item>
      <ion-item routerLink="/part13">Ion TextArea</ion-item>
      <!--
      <ion-item routerLink="/part14">Ion Item</ion-item>

      <ion-item routerLink="/part15">Ion Label</ion-item>
      <ion-item routerLink="/part16">Ion List</ion-item>
                                                      -->
      <ion-item routerLink="/part17">Ion Avatar</ion-item>

      <!--
      <ion-item routerLink="/part18">Ion Menu</ion-item>
                                                         -->
      <ion-item routerLink="/part19">Ion Modal</ion-item>
      <ion-item routerLink="/part20">Ion Nav</ion-item>
      <ion-item routerLink="/part21">Ion Popover</ion-item>
      <ion-item routerLink="/part22">Ion Pogress Bar</ion-item>
      <ion-item routerLink="/part23">Ion Radio</ion-item>
      <ion-item routerLink="/part24">Ion Radio Group</ion-item>
      <ion-item routerLink="/part25">Ion Searchbar</ion-item>
      <ion-item routerLink="/part26">Ion Segment</ion-item>
      <ion-item routerLink="/part27">Ion Select</ion-item>
      <ion-item routerLink="/part28">Ion Slides</ion-item>
      <ion-item routerLink="/part29">Ion Tabs</ion-item>
      <ion-item routerLink="/part30">Ion Toast</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>



<ion-router-outlet id="principal"></ion-router-outlet>
