<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 align="center">Uinidad 1</h1>
  <ion-button expand="full" routerLink="/practica1">Practica 1</ion-button>
  <ion-button expand="full" routerLink="/practica2">Practica 2</ion-button>
  <h1 align="center">Uinidad 2</h1>
  <ion-button expand="full" routerLink="/api">Api</ion-button>
  <h1 align="center">Uinidad 3</h1>
  <ion-button expand="full" routerLink="/menu">Menu</ion-button>
</ion-content>
