<ion-header>
  <ion-toolbar>
    <ion-title>Ion Slides</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="regresar" routerLink="/menu"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
      <ion-slide class="slide-1">
        <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Slide 1</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
      </ion-slide>
      <ion-slide class="slide-2">
        <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Slide 2</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
      </ion-slide>
      <ion-slide class="slide-3">
        <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Slide 3</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>
      </ion-slide>
    </ion-slides>

</ion-content>
